@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Custom Border gradient */

.customBorderGradient {
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 0;
}

.customBorderGradient::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1.7px;
  border-radius: 9999px;
  background: linear-gradient(to right, #026f94, #e280f37a, #df6ef3, #e280f37a, #AFA6A6);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Custom button ripple effect */

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.192);
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  pointer-events: none;
}

.ripple::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */